### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/

# node_modules folder
**/node_modules/

back/node_modules/
front/node_modules/
front/.angular/cache/*

# Ignore the dist directory
dist/

.idea/